attrs==21.2.0
bcrypt==3.2.0
boto3==1.18.21
botocore==1.21.21
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
click==8.0.1
docutils==0.17.1
Flask==2.0.1
flask-redis==0.4.0
Flask-SQLAlchemy==2.5.1
gevent==21.8.0
greenlet==1.1.1
gunicorn==20.1.0
idna==3.2
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
jmespath==0.10.0
MarkupSafe==2.0.1
packaging==21.0
pluggy==0.13.1
psycopg2==2.9.1
py==1.10.0
pycparser==2.20
PyMySQL==1.0.2
pyparsing==2.4.7
pytest==6.2.4
python-dateutil==2.8.2
python-dotenv==0.19.0
redis==3.5.3
requests==2.26.0
s3transfer==0.5.0
sacrud==0.3.7.post0
six==1.16.0
SQLAlchemy==1.4.22
sqlalchemy-mixins==1.5
toml==0.10.2
transaction==3.0.1
typing==3.7.4.3
urllib3==1.26.6
watchtower==1.0.6
Werkzeug==2.0.1
zope.event==4.5.0
zope.interface==5.4.0
